
body {
  background-color: rgb(36, 36, 36);
  background-image: url(../img/star.jpg);
}

.mdl-card {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#sign-info {
  color: #00BCD4;
  font-size: 120%;
}

#user-info {
  padding: 10px;
  width: 216px;
  box-sizing: border-box;
}

#user-pic {
  padding:10px;
  width: 72px;
  box-sizing: border-box;
}

input(type="password") {
  font:large;
  font-size:150%;
}

.message-pic{
  width:30px;
  height:30px;
  padding: 0px;
  margin:0px 10px 0px 0px;
}
.userpic{
  margin:0px 0px 0px 10px;
}

.demo-avatar {
    width: 60px;
    height: 60px;
    padding: 0px;
}

.mine{
  text-align: right;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 20px;
  height: 400px;
  overflow: auto;
}
ul li {
    font-family: Roboto;
    font-size: 100%;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 24px;
}
ul li:last-child {
    margin: 0px;
}
ul .example-chat-username {
    margin-right: 10px;
    font-size: 120%;
}
